:root {
    --accent-color: #3f3f46;
    --accent-color-two: #a1a1aa;
    --accent-color-three: #d4d4d8;
    --toggle-line-height: 3px;
    --toggle-line-width: 40px;
    --nav-btn-height: 20px;
    --animation-timing: 200ms ease-in-out;
    --animation-timing-slow: 600ms ease-in-out;
    --x-width: calc((var(--nav-btn-height) * 1.41421356237));
    --sidebar-right-margin: 5vw;
}


.nav-button-wrapper {
    display: flex;
    position: fixed;
    top: 45px;
    right: calc(var(--sidebar-right-margin) + 10px);
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    opacity: 0.7;
    z-index: 3;
    box-sizing: border-box;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    width: calc(var(--toggle-line-width) + 10px);
    height: calc(var(--nav-btn-height) + 15px);
}

.nav-button-wrapper-active {
    display: flex;
    position: fixed;
    top: 45px;
    right: 5vw;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: inherit;
    width: calc(var(--toggle-line-width) + 10px);
    height: calc(var(--nav-btn-height) + 10px);
}

.nav-button {
    z-index: 4;
    position: relative;
    box-sizing: border-box;
    width: var(--toggle-line-width);
    height: var(--nav-btn-height);
}

.nav-button,
.nav-button::after,
.nav-button::before {
    transition:
        opacity var(--animation-timing),
        width var(--animation-timing),
        rotate var(--animation-timing),
        background-color var(--animation-timing),
        translate var(--animation-timing);
}

.nav-button::after,
.nav-button::before {
    display: block;
    position: absolute;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    background-color: var(--accent-color);
    width: var(--toggle-line-width);
    height: var(--toggle-line-height);
    content: "";
}

.nav-button::after {
    top: 0;
    left: 0;
}

.nav-button::before {
    bottom: 0;
    left: 0;
}

.nav-btn-active::after {
    transform: rotate(-45deg) translate(-2px, 10px);
    width: var(--x-width);
}

.nav-btn-active::before {
    transform: rotate(45deg) translate(-2px, -10px);
    width: var(--x-width)
}

.sidebar {
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition:
        opacity var(--animation-timing),
        transform var(--animation-timing);
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    padding: 100px 60px 100px 60px;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.sidebar-active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.sidebar-content ul li {
    position: relative;
}

.sidebar-content ul li>a,
.mail-hover {
    position: relative;
    z-index: 2;
}

.sidebar-content ul li::before,
.mail-hover::before {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 1;
    transition:
        opacity var(--animation-timing),
        right var(--animation-timing);
    background: var(--accent-color-three);
    width: 20px;
    height: 30px;
    content: "";
}


.mail-hover::before {
    z-index: -1;
}

.sidebar-content ul li:hover::before,
.mail-hover:hover::before {
    right: -8px;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 20px;
        right: var(--sidebar-right-margin);
        visibility: hidden;
        transition:
            opacity var(--animation-timing),
            transform var(--animation-timing),
            width var(--animation-timing),
            height var(--animation-timing);
        padding: 0;
        width: 0px;
        height: 0px;
        overflow: hidden;
    }

    .sidebar-active {
        visibility: visible;
        border-radius: 5px;
        width: 300px;
        height: 500px;
        overflow: hidden;
    }

    .sidebar-content {
        position: absolute;
        bottom: -310px;
        opacity: 0;
        transition:
            top var(--animation-timing-slow),
            bottom var(--animation-timing-slow),
            opacity var(--animation-timing-slow);
    }

    .sidebar-content-active {
        bottom: 0;
        opacity: 1;
        padding: 20px 40px;
    }

    .sidebar-landscape-large {
        height: 90vh;
        max-height: 400px;
    }

    .sidebar-content-landscape-large {
        gap: 40px;
    }

    .nav-button-wrapper-active {
        right: calc(var(--sidebar-right-margin) + 10px);
    }

}