.snap-scroll-container {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 768px) {
  .snap-scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;
    font-size: 1.3rem;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  #target-1 {
    background: linear-gradient(180deg, #0c0c0f 0%, #18181b 50%, #1d1d21 100%);
  }

  #target-2 {
    background: linear-gradient(180deg, #1d1d21 0%, #18181b 50%, #0c0c0f 100%);
  }

}