.snap-scroll-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .snap-scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth; /* Smooth scrolling for all interactions */
  }

  .section {
    height: 100vh; /* Each section fills the viewport height */
    scroll-snap-align: start; /* Snap each section to the top */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
  }

  /* Optional: Hide scrollbars for a cleaner look */
  .container::-webkit-scrollbar {
    display: none;
  }
}

.active-scroll-spy {
  background-color: yellowgreen;
  border-radius: 15px;
}

/* @media screen and (min-width: 768px) {
    .snap-scroll-container {
        height: auto;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        scroll-behavior: smooth;

        min-width: 100% ;

    }
  
    .section {
        height: 1000px; 
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
  
    
    .snap-scroll-container::-webkit-scrollbar {
        display: none;
    }
  } */

/* .active-scroll-spy {
    background-color: yellowgreen;
    border-radius: 15px;
  } */
