.nav-bullet-inactive {
  display: block;
  position: relative;
  transition: all 0.5s ease-in-out;
  border: 2px solid #a1a1aa;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;


}
.nav-bullet-inactive:hover{
  border: 2px solid #3b82f6;
}

.nav-active {
  transform: rotate(45deg);
}
